/* using http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html, body {
	height: 100%;
}
body {
	background-color: #EFEFEF;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}

.container {
	background-color: #FFFFFF;
	max-width: 1200px;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.container > header {
	padding: 20px;
	padding-left: 30px;
}
.container > header div.popup-menu {
	display: none;
	position: absolute;
}
.container > header input[type="submit"], .container > header button {
	text-indent: -9999px;
	display: block;
	border: 0px;
	background-color: #39F;
}
.container > header input[type="text"], .container > header input[type="password"] {
	background-color: #E9E9E9;
	border: 0px;
	color: #000000;
	padding: 6px;
	font-size: inherit;
}
.container > header .menu {
	float: right;
	text-align: right;
	color: #626262;
	padding-top: 6px;
}
.container > header .menu button {
	height: 50px;
	min-width: 50px;
	cursor: pointer;
	display: inline-block;
	background-position: center center;
	background-size: 24px;
	background-repeat: no-repeat;
	outline: 0px;
	font-size: inherit;
	font-family: inherit;
	background-color: transparent;
	color: #666666;
}
.container > header .menu button:hover {
	background-color: #EFEFEF;
}
.container > header .menu button.language {
	background-color: blue;
}
.container > header .menu button.login, .container > header .menu button.logout {
	text-indent: 40px;
	background-position: 12px center;
	padding-right: 12px;
}
.container > header .menu button.login {
	background-image: url('images/icons/login.png');
}
.container > header .menu button.logout {
	background-image: url('images/icons/logout.png');
}
.container > header .menu button.search {
	background-image: url('images/icons/search.png');
}
.container > header .menu button.notifications {
	background-image: url('images/icons/notifications.png');
}

.container > .content {
	background-color: #ffcd00;
}

.content > aside.sidebar {
	background-color: #ffcd00;
	width: 256px;
	color: #000000;
	float: left;
	position: relative;
}
.content > aside.sidebar a {
	display: block;
	padding: 30px;
	padding-left: 20px;
	border-bottom: 1px solid rgb(255, 188, 0);
}
.content > aside.sidebar a:before {
	content: "";
	display: block;
	width: 45px;
	height: 45px;
	background-image: url('images/sidebar-arrow.png');
	float: left;
	position: relative;
	top: -15px;
	left: -15px;
	margin-left: 30px;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	background-position: -45px 0;
}
.content > aside.sidebar a:hover {
	text-decoration: underline;
}
.content > aside.sidebar a:hover:before {
	background-position: 0 0;
	border-color: #000000;
}

.content > section.main {
	float: left;
	width: calc(100% - 256px);
	min-width: 256px;
	margin-left: auto;
	background-color: #FFFFFF;
}
.content > section.main > section, .container > section.main > article {
	padding: 20px;
}

section.main .quick-nav {
	background-color: #000000;
}
section.main .quick-nav h1 {
	float: left;
	font-size: 34px;
	color: #FFFFFF;
	font-weight: 300;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
section.main .quick-nav .nav {
	text-transform: uppercase;
	display: block;
	margin-top: 20px;
}
section.main .quick-nav .nav a {
	background-color: #FFFFFF;
	padding: 15px;
	font-weight: 800;
	font-size: .95em;
	float: left;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}
section.main .quick-nav .nav a:hover {
	background-color: #ffcd00;
}

.container > footer {
	background-color: #000000;
	padding: 30px;
	clear: both;
}

.clear {
	clear: both;
}

@media (max-width: 600px) {
aside.sidebar,
section.main {
	width: 100% !important;
}
}

section.rooster .vak, .vakkeuze, .weeknav{
	display:block;
	padding:2px;
	font-size:.9em;
}
section.rooster .vakkeuze > select, .weeknav > ul > li {
	display:inline-block;
}
section.rooster .verwijder, #datepicker{
	display:inline-block;
	text-indent:-9999px;
	cursor:pointer;
}
section.rooster .vakkeuze > input[type="submit"], .verwijder, #datepicker, .planner, .week, .planner{
	height:25px;
	min-height:25px;
	cursor:pointer;
}
section.rooster .weeknummer, .weeknav, .weekrooster{
	margin-left:auto;
	margin-right:auto;
}
section.rooster .weeknav{
	max-width:300px;
	min-width:300px;
}
section.rooster .weeknummer, .weekrooster{
	max-width:500px;
	min-width:415px;
}
section.rooster .weekrooster > table {
	border:0px;
	padding:2px;
	font-size:.8em;
}
section.rooster td {
	padding:2px;
	vertical-align:middle;
	width:60px;
}
section.rooster td > a:hover{
	text-decoration:underline;
}
section.rooster tr {
	padding: 20px;
}
section.rooster .weekrooster > h2 {
	font-weight:600;
	padding:2px;
	font-size:.9em;
}
	