/* using http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html, body {
	height: 100%;
}
body {
	background-color: #EFEFEF;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	min-width: 320px;
}
a {
	color: inherit;
	text-decoration: none;
}
select, button, input {
	padding: 10px;
	border-radius: 0px;
	border: 1px solid #CCC;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	background-color: #FFFFFF;
}
a.button, button {
	background-color: #ffcd00;
	font-weight: 800;
	text-transform: uppercase;
}

.container {
	background-color: #000000;
	max-width: 1200px;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.hero {
	background-image: url('images/hero.jpg');
	height: 240px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.container > header {
	padding: 20px;
	padding-left: 30px;
	background-color: #FFFFFF;
}
.container > header div.popup-menu {
	display: none;
	position: absolute;
	right: 20px;
	background-color: #FFFFFF;
	padding: 20px;
	border: 2px solid #000000;
	margin-top: 10px;
	z-index: 999;
}
header div.popup-menu.login {
	width: 300px;
}
header div.popup-menu h2 {
	font-size: 24px;
	margin-bottom: 1em;
}
header div.popup-menu label {
	display: block;
	margin-bottom: .5em;
}
header div.popup-menu input {
	display: block;
	width: 280px;
	outline: 0px;
	padding: 10px;
	margin-bottom: 20px;
}
header div.popup-menu input[type="submit"] {
	background-color: #ffcd00;
	color: #000000;
	font-size: inherit;
	font-weight: 800;
	text-transform: uppercase;
	font-family: inherit;
	border: 0px;
	cursor: pointer;
	display: block;
	float: right;
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 0px;
}
header div.popup-menu input[type="submit"]:hover {
	color: #FFFFFF;
	background-color: #000000;
}
header div.popup-menu.login .error {
	color: rgb(255, 62, 0);
	padding-bottom: 20px;
	display: block;
}
header div.popup-menu.login .forgot-password {
	float: right;
	padding: 10px;
	display: block;
}
header div.popup-menu.login .forgot-password:hover {
	text-decoration: underline;
}
header div.popup-menu.login .forgot-password:after {
	content: " | ";
	text-decoration: none !important;
}
header div.popup-menu.search input[type="submit"] {
	margin-bottom: 20px;
}
header div.popup-menu.search .quick {
	display: block;
	column-count: 2;
	clear: both;
	padding-top: 20px;
	border-top: 1px solid #000000;
}
header div.popup-menu.search .quick li {
	line-height: 1.3em;
	width: 50%;
	float: left;
}
header div.popup-menu.search .quick li a:hover {
	text-decoration: underline;
}
header div.popup-menu.language {
	width: 170px;
	right: 180px;
}
header div.popup-menu.language button {
	height: 50px;
	background-image: url('images/icons/language.png');
	background-repeat: no-repeat;
	text-indent: 44px;
	background-position: 12px center;
	border: 0px;
	background-color: transparent;
	cursor: pointer;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-weight: inherit;
	text-transform: none;
}
header div.popup-menu.language button:hover {
	background-color: #EFEFEF;
}
header div.popup-menu.language button.english {
	background-image: url('images/icons/language-en.png');
}
#google_translate_element {
	float: right !important;
	clear: both;
}
header div.popup-menu.notifications {
	right: 100px;
}
header div.popup-menu.notifications .notification {
	display: block;
	width: 300px;
	border-bottom: 1px solid #EFEFEF;
	padding-bottom: 20px;
	padding-top: 20px;
}
.notification .timestamp {
	color: #666666;
	font-size: .8em;
	display: block;
	margin-top: 2em;
	clear: both;
	text-align: right;
}

.container > header .menu input[type="submit"], .container > header .menu button {
	text-indent: -9999px;
	display: block;
	border: 0px;
	background-color: 
}
.container > header input[type="text"], .container > header input[type="password"] {
	background-color: #E9E9E9;
	border: 0px;
	color: #000000;
	padding: 6px;
	font-size: inherit;
}
.container > header .menu {
	float: right;
	text-align: right;
	color: #626262;
	padding-top: 6px;
}
.container > header .menu button {
	height: 50px;
	min-width: 50px;
	cursor: pointer;
	display: inline-block;
	background-position: center center;
	background-size: 24px;
	background-repeat: no-repeat;
	outline: 0px;
	font-size: inherit;
	font-family: inherit;
	background-color: transparent;
	color: #666666;
	font-weight: inherit;
	text-transform: none;
}
.container > header .menu button:hover {
	background-color: #EFEFEF;
}
.container > header .menu button.language {
	min-width: 0px;
	background-image: url('images/icons/language.png');
	background-size: auto;
	text-indent: 54px;
	background-position: 12px center;
	padding-right: 12px;
}
.container > header .menu button.login, .container > header .menu button.logout {
	text-indent: 40px;
	background-position: 12px center;
	padding-right: 12px;
}
.container > header .menu button.login {
	background-image: url('images/icons/login.png');
}
.container > header .menu button.logout {
	background-image: url('images/icons/logout.png');
}
.container > header .menu button.search {
	background-image: url('images/icons/search.png');
}
.container > header .menu button.notifications {
	background-image: url('images/icons/notifications.png');
	position: relative;
}

.container > .content {
	background-color: #ffffff;
	position: relative;
}

.content > aside.sidebar {
	background-color: #ffcd00;
	width: 256px;
	color: #000000;
	float: left;
	overflow: hidden;
	position: absolute;
}
.content > aside.sidebar li li {
	background-color: rgb(255, 188, 0);
	display: block;
	border-bottom: 1px solid #ffcd00;
	padding-left: 20px;
}
.content > aside.sidebar li.vaksites select {
	padding: 10px;
	width: 180px;
	margin: 20px;
	margin-left: 40px;
}
.content > aside.sidebar a {
	display: block;
	padding: 30px;
	padding-left: 20px;
	border-bottom: 1px solid rgb(255, 188, 0);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 18px;
}
.content > aside.sidebar a:before {
	content: "";
	display: block;
	width: 45px;
	height: 45px;
	background-image: url('images/sidebar-arrow.png');
	float: left;
	position: relative;
	top: -15px;
	left: -15px;
	margin-left: 30px;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	background-position: -45px 0;
}
.content > aside.sidebar a:hover {
	text-decoration: underline;
}
.content > aside.sidebar a:hover:before {
	background-position: 0 0;
	border-color: #000000;
}

.content > section.main {
	float: right;
	width: calc(100% - 256px);
	min-width: 256px;
	margin-left: auto;
	background-color: #FFFFFF;
}
.content > section.main > section,
.container > section.main > article {
	padding: 20px;
	padding-bottom: 40px;
}
.content > section.main > section a:hover, .container > section.main > article a:hover {
	text-decoration: underline;
}
.content > section h1 {
	font-size: 34px;
	font-weight: 300;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.content > section h2 {
	font-size: 24px;
	margin-bottom: 1em;
	margin-top: 1em;
}
.content > section h3 {
	font-size: 20px;
	margin-bottom: 1em;
	margin-top: 1em;
}

section.main .quick-nav {
	background-color: #000000;
	padding-bottom: 20px !important;
}
section.main .quick-nav h1 {
	float: left;
	font-size: 34px;
	color: #FFFFFF;
	font-weight: 300;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
section.main .quick-nav .nav {
	text-transform: uppercase;
	display: block;
	margin-top: 20px;
}
section.main .quick-nav .nav a {
	background-color: #FFFFFF;
	padding: 15px;
	font-weight: 800;
	font-size: .95em;
	float: left;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}
section.main .quick-nav .nav a:hover {
	background-color: #ffcd00;
	text-decoration: none;
}

.container > footer {
	background-color: #000000;
	padding: 30px;
	clear: both;
}

.clear {
	clear: both;
}

section.rooster .vak, .vakkeuze, .weeknav{
	display:block;
	padding:2px;
}
section.rooster .vakkeuze input {
	margin-right: 10px;
}
section.rooster .vakkeuze > select, .weeknav > ul > li {
	display:inline-block;
}
section.rooster .verwijder, #datepicker{
	display:inline-block;
	text-indent:-9999px;
	cursor:pointer;
}
section.rooster .vakkeuze > input[type="submit"], .verwijder, #datepicker, .planner, .week, .planner, a.button {
	cursor:pointer;
	background-color: #ffcd00;
	font-weight: 800;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
	border: 0px;
}
section.rooster .button {
	float: right;
	margin-bottom: 20px;
}
section.rooster .vakkeuze > input[type="submit"]:hover, .verwijder, #datepicker:hover, .planner:hover, .week:hover, .planner:hover, a.button:hover {
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none !important; 
}
section.rooster .vakken {
	margin-top: 20px;
	margin-bottom: 30px;
}
section.rooster .vak {
	width: 300px;
	display: block;
	clear: both;
	padding: 10px;
}
section.rooster .vak button {
	float: right;
}
section.rooster .vak .verwijder {
	padding: 0px;
	height: 16px;
	width: 16px;
	background-color: transparent;
	background-image: url('images/icons/delete.png');
	background-repeat: no-repeat;
	background-position: center center;
}
section.rooster .weeknummer, .weeknav, .weekrooster{
	margin-left:auto;
	margin-right:auto;
}
section.rooster .weeknav {
	text-align: center;
}
section.rooster .weeknav a {
	display: block;
	margin-left: .3em;
	margin-right: .3em;
}
section.rooster table {
	width: 100%;
}
section.rooster table td[colspan="7"] {
	font-weight: 800;
	padding-bottom: 10px;
	padding-top: 20px;
}
section.rooster tr {
	border-bottom: 1px solid #EFEFEF;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
section.rooster td {
	padding: 5px;
	min-width:60px;
}
section.rooster td > a:hover{
	text-decoration:underline;
}
section.rooster > h2 {
	display: block;
}

section.vaklijst .column {
	width: 33%;
	box-sizing: border-box;
	float: left;
	min-width: 280px;
	padding-bottom: 30px;
}
section.vaklijst .column h2 {
	font-size: 24px;
	margin-bottom: 1em;
	margin-top: 1em;
}
section.vaklijst li {
	margin-bottom: .6em;
	margin-top: .6em;
}

section.inschrijving {
	padding: 20px !important;
	text-align: right;
	float: right;
}
section.inschrijving button {
	margin: 0px;
	border: 0px;
	cursor: pointer;
}

/*Responsive schnitzel*/
@media (max-width: 600px) {
aside.sidebar,
section.main {
	width: 100% !important;
	position: relative !important;
}
footer img {
	width: 100%;
}
table tr, td{
	display: block;
	float: left;
	clear: both;
}
}
